
/* ================== Common Css ================== */
.btn_regular {
    background: #3498db;
    border: none;
    font-size: 16px;
    font-family: 'Poppins';
    color: #fff;
    font-weight: 500;
    width: 100%;
    padding: 12px 0;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
/* ================== Common Css ================== */


.form{
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.form_container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px lightgray;
}
.form_logo {
    text-align: center;
    background: #3498db;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.form_logo img {
    width: 130px;
    margin-bottom: 10px;
}
.form_logo h1 {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
}
.form_input_group{
    padding: 30px 20px;
}
.form_input_group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-family: 'Poppins';
    margin-bottom: 15px;
    outline: none;
    border: 1px solid #3498db;
    border-radius: 5px;
}
.form_input_group input:focus{
    background: #3498db21;
}
.form_input_group a{
    display: block;
    text-align: center;
    color: #3498db;
    font-weight: 500;
}
fieldset {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 2px dashed #3498db;
    font-weight: 500;
    color: #3498db;
}
fieldset .google_btn {
    border: 1px solid #3498db;
    background: none;
    color: #3498db;
}