.header {
    background: #fff;
    padding: 15px 0;
    border-bottom: 1px solid lightgray;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #3498db;
}
.logo img {
    width: 80px;
}
.navigation_menu {
    display: flex;
    gap: 20px;
    align-items: center;
}
.navigation_menu a {
    background: #3498db;
    color: #fff;
    border: 1px solid #3498db;
    padding: 8px 20px;
    border-radius: 7px;
    font-size: 14px;
}
.navigation_menu a:last-child{
    background: none;
    color: #000;
    border: 1px solid #3498db;
    font-weight: 600;
}
.navigation_menu .logout_btn {
    padding: 8px 20px;
    background: red;
    font-size: 14px;
    font-family: 'Poppins';
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* =================== Media Query =================== */

@media screen and (max-width: 688px){
    .header_inner{
      flex-direction: column;
      justify-content: center;
    }
    .logo{
        margin-bottom: 30px;
    }
    .navigation_menu{
        flex-direction: column;
    }
    .navigation_menu a{
        display: block;
        width: 100%;
        text-align: center;
    }
  }