.banner{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.banner_inner {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}